* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  scrollbar-width: 0;
}


body {
  width: 100vw;
  height: 100vh;
  cursor: default;
  position: static;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Inter, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 5px !important;
}

body::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #252525;
  border: 2px solid #fff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.p {
  padding: 10px;
}

.companylogo {
  width: 150px;
}

.icon {
  width: 25px;
  cursor: pointer;
}

.icon-max {
  width: 64px;
  cursor: pointer;
}

section {
  height: 120vh;
}

input[type="text"] {
  width: 90%;
  border-radius: 7px;
  padding: 7px 10px;
  outline: none;
  vertical-align: unset;
  margin: 0.1rem;
  cursor: pointer;
  border: 0.1rem solid #bbc1e1;
}

input[type="text"]:hover {
  border-color: #275efe;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

input[type="text"]:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}

input[type="password"] {
  width: 90%;
  border-radius: 7px;
  padding: 7px 10px;
  outline: none;
  vertical-align: unset;
  margin: 0.1rem;
  cursor: pointer;
  border: 0.1rem solid #bbc1e1;
}

/* input[type="text"]:hover {
            border-color: #275efe;
        } */

input[type="password"]:hover {
  border-color: #275efe;
}

.btn {
  width: 90%;
  border-radius: 7px;
  padding: 8px 10px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  color: #ffffff;
  border: 0.1rem solid #bbc1e1;
  background: #275efe;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*--------------------------Header-------------------------------*/

#website-header {
  position: absolute;
  z-index: 999;
  height: 8vh;
  width: 100%;
}

.dark-bg {
  background-color: rgb(255, 255, 254) !important;
  color: #1b1919 !important;
}

.light-bg {
  background-color: transparent !important;
  color: #f6f2f2 !important;
}

.websiteHeader {
  display: flex;
  position: absolute;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.websiteNavs a {
  margin: 0 1.5rem;
  color: #000;
  font-weight: 600px;
}

.websiteHeaderRight {
  display: flex;
  margin-right: 2rem;
}

.websiteHeaderRight div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
  cursor: pointer;
}

.websiteHeaderRight div img {
  width: 20px;
}

#header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: #fff;
  height: 8vh;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.151) 0px 7px 29px 0px;
}

.header div {
  display: flex;
}

.header-company_logo-container {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-featuers-container {
  flex-grow: 1;
  align-items: center;
  margin-left: 1rem;
}

.header-featuers-container-seacrhIcon {
  background-color: #dddddd70;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 1rem;
}

.header-searchIcon {
  width: 15px;
  cursor: pointer;
}

.header-featuers-container-countrySelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.header-featuers-container-countrySelector img {
  gap: 0.5rem;
}

.header-profile-container {
  justify-content: space-between;
  height: 5vh;
  width: 20vw;
  padding: 0 1.5rem;
  border-left: 1px solid #ddd;
  align-items: center;
}

.profileIcon {
  width: 32px;
}

.header-profile-container-userDetails {
  margin: 0 0.5rem;
  flex-grow: 1;
}

.header-profile-container-userDetails h2 {
  font-weight: 700;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.header-profile-container-userDetails p {
  font-weight: 400;
  font-size: 12px;
}

.websitebtn {
  display: none;
}
.mobileMenuButton{
  display: none;
}
/*-------------------------- home -------------------------------*/
#home {
  height: 100vh;
}
.video-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home_intro_videos {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-text-background {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 3.5rem;
  margin-left: 2rem;
}

.home-text-background div {
  font-weight: 500;
}

.transition-text {
  font-size: 3rem;
}

.transition-text::after {
  content: "I"; /* Cursor or blinking line to simulate typing */
  display: inline-block;
  color: rgb(246, 255, 0);
  animation: cursorBlink 0.7s infinite ease-in-out;
}

@keyframes cursorBlink {
  50% {
    opacity: 1;
  }
}

.intro,
.intro-loop {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-loop {
  display: none;
}

/*-------------------------- About -------------------------------*/

#about {
  height: 100vh;
}
.about {
  position: relative;
}

.transaction-animation {
  position: relative;
  animation: transactionAnimation 0.4s ease;
}

.hidden {
  display: none;
}

@keyframes transactionAnimation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.about-content {
  margin: 0 4rem;
}

.about-head {
  font-size: 3rem;
  text-align: center;
}

.vertical-ruler1 {
  position: relative;
  left: 50%;
  height: 4rem;
  width: 1px;
  justify-content: center;
  background-color: #000;
}

.vertical-ruler2 {
  position: relative;
  left: 50%;
  height: 2.5rem;
  width: 1px;
  justify-content: center;
  background-color: #000;
}

.about-subhead-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.horizontal-ruler1 {
  width: 30%;
  height: 1px;
  background-color: rgba(69, 62, 62, 0.5);
}

.about-subhead {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.about-mid {
  text-align: center;
  margin: 0.5rem 0;
}

.about-para {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-para-left {
  width: 40%;
  height: 50vh;
  background-color: #6d609c;
  /* margin: 0 auto; */
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

.about-para img {
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.about-para-right {
  position: relative;
  width: 50%;
  height: 50vh;
  top: 5rem;
  left: 5rem;
  /* background-color: #b9b2d2; */
}

.about-para h1 {
  font-size: 1.5rem;
  font-weight: 700;
  width: fit-content;
  text-align: center;
}

.about-line {
  height: 2px;
  width: 2rem;
  background: linear-gradient(
    180deg,
    rgba(8, 82, 146, 1) 0%,
    rgba(16, 40, 83, 1) 100%
  );
  margin: auto 1rem;
}

.about-para p {
  margin: 2rem 0;
}
.vertical-ruler3 {
  position: relative;
  left: 50%;
  height: 7rem;
  width: 1px;
  justify-content: center;
  background-color: #000;
}

.horizontal-ruler2 {
  width: 90%;
  height: 1px;
  background-color: rgba(69, 62, 62, 0.5);
  margin: 0 auto;
}

/*-------------------------- Products -------------------------------*/

#products {
  position: relative;
  height: 280vh;
  margin-top: 1rem;
}

#products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.products-head {
  height: 10%;
  text-align: center;
  font-size: 3rem;
  padding: auto 0;
  font-style: italic;
  margin-bottom: 2rem;
}

.products-head span {
  font-style: normal;
  font-size: 4rem;
}

.products-content {
  height: 70%;
  display: flex;
}

.products-left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.poducts-middle-section {
  position: relative;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-diamond-symbol {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  animation: fadeInOut 2s ease;
}

.products-diamond-symbol img {
  height: 60px;
  width: 40px;
}

.products-ruler {
  position: absolute;
  left: 50%;
  height: 98%;
  width: 0.1px;
  background-color: #000;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.products-right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.product-videos {
  height: 250px;
  width: 60%;
  object-fit: cover;
}

.products-left-section video {
  clip-path: polygon(84% 0, 100% 50%, 87% 100%, 0% 100%, 12% 50%, 0% 0%);
}

.products-right-section video {
  clip-path: polygon(100% 0%, 87% 49%, 100% 100%, 15% 100%, 0% 50%, 15% 0);
}

.product-description {
  position: relative;
  height: 250px;
  width: 60%;
  padding: 20px;
  margin: 0 2rem;
}

.product-description-head {
  height: 60px;
  display: flex;
  align-items: center;
}

.product-description-head h3 {
  width: fit-content;
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 1rem;
  transform: scaleY(1.2);
  border-bottom: 2px solid #6d609c;
}

.product-description-head img {
  width: 50px;
  height: 50px;
}

.product-description h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-style: italic;
}

.product-description p {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.products-footer {
  display: flex;
  position: relative;
}

.products-footer span {
  display: flex;
}

.products-footer-images-container {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
  animation: scroll 20s linear infinite;
}

.scroll2animation {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.products-footer-images {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(-45deg);
  position: relative;
}

.products-footer-images img {
  position: relative;
  z-index: 1;
  height: 70px;
  width: 70px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid black;
}

.products-footer-images img:hover {
  filter: invert(100%);
}
/*-------------------------- Features -------------------------------*/
.features {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.features-display-left {
  height: 80%;
  width: 50%;
  padding: 0 10px;
  margin-left: 2rem;
  text-align: center;
}

.features-head {
  text-align: center;
  font-size: 3rem;
  padding: auto 0;
  font-style: italic;
  margin-top: 8rem;
}

.features-head span {
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 0.8rem;
}

.features-display-left p {
  padding: 10px 20px;
  margin: 2rem;
}

.features-display-left-cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 300px 300px;
}

.features-card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: 0.3s ease-in-out;
  background-color: #ddd;
  cursor: pointer;
}

.features-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.features-card div {
  display: flex;
  align-items: center;
  width: 20%;
}

.features-card div span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.features-display-right {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-display-right-container {
  display: flex;
}

.gallery-image {
  margin: 10px;
  opacity: 0;
  transition: opacity 0.7s, transform 0.7s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(20px);
}

.gallery-image img {
  width: 80%;
}

.gallery-image:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.gallery-image:not(.selected) {
  display: none;
}

.gallery-image.selected {
  opacity: 1;
  transform: translateY(-10px);
  animation: fadeInUp 0.7s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-------------------------- Contact -------------------------------*/

#contact {
  height: 60vh;
  background-image: url("../media/image/contacting.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 99;
}

.contactus {
  background-position: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.containeer {
  text-align: center;
}

.containeer h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #4b4b4b;
}

.containeer p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #424141;
}

.containeer-button {
  display: flex;
  justify-content: center;
}

.formgroup {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
}

.formgroup1 {
  display: flex;
  width: 30rem;
  gap: 2rem;
}

.forminput {
  display: flex;
  width: 30rem;
  height: 2rem;
  font-size: 1rem;
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #c7c4c4;
}
.formtextarea {
  margin-right: 2rem;
  margin-top: 1rem;
  width: 30rem;
  font-size: 1rem;
  display: flex;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #c7c4c4;
  resize: none;
  padding: 5px;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    275deg,
    rgba(1, 102, 176, 1) 0%,
    rgba(16, 40, 83, 1) 100%
  );
  color: white;
  padding-left: 0.6em;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.4em;
  overflow: hidden;
  position: relative;
  height: 2em;
  padding-right: 1.9em;
  border: none;
}

.formgroup button {
  margin: 1rem auto;
}

.iconButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 0.4em;
  right: 0.1em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em
    linear-gradient(275deg, rgba(1, 102, 176, 1) 0%, rgba(16, 40, 83, 1) 100%);
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em
    linear-gradient(275deg, rgba(1, 102, 176, 1) 0%, rgba(16, 40, 83, 1) 100%);
}

/*-------------------------- MAIN Earth -------------------------------*/

.earth {
  width: 100%;
  background: linear-gradient(
    275deg,
    rgba(1, 102, 176, 1) 0%,
    rgba(16, 40, 83, 1) 100%
  );
  display: flex;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
}

.earth-left-container {
  width: 55%;
}

.earth-heading {
  margin-top: 20rem;
  margin-left: 8rem;
  font-size: 4rem;
  font-weight: 700;
  height: fit-content;
  color: #fff;
}

.earth-content {
  position: relative;
  left: 15%;
  top: 15%;
  width: 80vw;
  height: 30vh;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.earth-content-box {
  width: 15vw;
  height: 90%;
  text-align: center;

}

.earth-content-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

.earth-content-box h3 {
  font-weight: 400;
}

.earth-content-box p {
  margin-top: 2rem;
  letter-spacing: 2px;
}
.earth-right-container {
  position: absolute;
  left: 55%;
  width: 70%;
  height: 120%;
}

.globe-canvas {
  z-index: 0;
}

.cp-globe {
  transform: scale(2);
}

/*-------------------------- Footer -------------------------------*/

#Footer {
  height: 40vh !important;
  background-color: rgb(255, 255, 255);
}

.Footer {
  height: 60% !important;
  width: 100%;
}

.websiteBG-Header-logo img {
  width: 200px;
  margin-top: 30%;
  margin: 0 3rem;
  margin-top: 30%;
}

.footer-content {
  display: flex;
  padding: 20px;
  height: 20vh;
}

.footer-section {
  margin: 0 0.5rem;
  width: 15%;
  padding: 10px;
}

.s2 {
  width: 19%;
}
.s4 {
  text-align: center;
  width: 30%;
}
.s4 input {
  margin: 1rem 0;
}

.footer-section h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
}

.footer-section h3:hover {
  color: #0056b3;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
}

.footer-section ul li {
  padding: 5px;
  font-size: 15px;
}

.footer-section ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #008bf8;
}

.footer-bottom {
  text-align: center;
  color: black;
  height: 40%;
  background-color: white;
  box-sizing: border-box;
}

.footer-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30vh;
  right: 1rem;
  z-index: 99;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0.5rem 0.5rem;
}

.cards-icons {
  display: flex;
}

.cards-icons img {
  height: 25px;
  margin: 0 0.2rem;
}
.line {
  align-items: center;
  height: 1px;
  width: 95%;
  background-color: #b7b7b783;
  margin: 1rem auto;
}

.Logo-container {
  display: flex;
  justify-content: space-between;
  padding: 19px 66px;
}

.certified-logo {
  width: fit-content;
}

.certified-logo img {
  height: 50px;
}

.Visa-Cards {
  width: fit-content;
}

.Visa-Cards img {
  height: 50px;
  margin: 4px 6px 8px 10px;
}

.NavigateUp {
  background-color: #008bf8;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  position: absolute;
  left: 2rem;
}

.NavigateUp a {
  color: black;
}

.footer-section .h3 {
  color: #0056b3;
}

.formfield {
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 27px;
  margin: 1rem 5rem;
}

.btn-pink {
  background-color: var(--bgOrange);
  width: fit-content;
  padding: 2%;
  color: black;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px #6866663f;
  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #726969;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: white;
}

@media (max-width: 768px) {
  .Footer {
    width: 100%;
  }

  .websiteBG-Header-logo img {
    width: 200px;
    margin-top: 0;
  }

  .footer-content {
    height: 100%;
    display: block;
    background-color: white;
    text-align: center !important;
  }

  .footer-section {
    width: 100%;
    padding: 10px;
  }

  .footer-bottom {
    margin-top: -2.2rem;
  }

  .Logo-container {
    display: flex;
    justify-content: space-between;
    padding: 19px 66px;
    background-color: white;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*--------------------------Header-------------------------------*/
  body {
  width:  92vw;
  height: 100vh;
  cursor: default;
  position: static;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Inter, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.websiteNavs {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 16px;
  gap: 25px;
  right: 0;
  width: 70vw !important;
  background-color: #fff;
  z-index: 1;
  border-radius: 6px;
  opacity: 0; 
}

.websiteNavs.show {
  display: flex;
  animation: slideIn 0.3s ease forwards; 
}

@keyframes slideIn {
  from {
    right: -100%; 
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 1;
  }
}


.mobileMenuButton {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: -1rem;
  margin-right: 0.5rem;
  transition: left 0.3s ease;
}
 
.mobileMenuButton {
  display: flex;

}

.websitebtn {
  display: block; 
}
.websitebtn button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.websitebtn button i {
  font-size: 1.5rem; 
  color: #555353; 
}

.iconWithLink {
  margin-left: 1rem;
  margin-bottom: 0px;
}

.iconWithLink img {
  vertical-align: middle;
  margin-right: -1rem;
}

.websiteHeaderRight {
  display: none;
}

.websiteHeader {
  padding: 1rem;
}

  /* / -------------------------------- / */
  #about {
    height: fit-content;
    width: 110%;
  }
  
  .about-content {
    margin: 0 2rem;
  }

  .about-head {
    font-size: 2rem;
  }


  .about-para {
    display: block;
    width: 100%;
  }

  .about-para h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: 700;
    width: fit-content;
    text-align: center;
  }

  .about-line {
    height: 2px;
    width: 2rem;
    background: linear-gradient(
      180deg,
      rgba(8, 82, 146, 1) 0%,
      rgba(16, 40, 83, 1) 100%
    );
    margin: auto 1rem;
  }

  .about-para p {
    margin: 2rem 0;
    text-align: justify;
  }
  /* / --------------------------------- / */

  #products {
    height: fit-content;
    margin-top: 0rem;
    margin-bottom: -90px;
  }

  .headword{
    font-weight: 700;
  }

  #products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .products-head {
    font-size: 7vw;
  }

  .products-head span {
    font-size: 2rem;
  }

  .products-content {
    margin-top: 0rem;
    height: 100%;
    display: block;
  }

  .products-left-section {
    width: 100%;
    display: block;
    text-align: center;
  }

  .poducts-middle-section {
    display: none;
  }

  .products-right-section {
    width: 100%;
    display: block;
    text-align: center;
  }

  .product-videos {
    width: 90%;
  }

  .products-left-section video {
    clip-path: none;
    border-radius: 15px;
  }

  .products-right-section video {
    clip-path: none;
    border-radius: 15px;
  }

  .product-description {
    width: 107%;
    padding: 20px;
    margin: 0rem;
  }

  .product-description h1{
    font-size: 7.5vw;
  }

  .product-description p{
    display: flex;
    align-items: center;
   justify-content: center;
  }

  .products-footer{
    margin-top: 0rem;
    overflow: hidden;
  }

  /*-------------------------- Features -------------------------------*/
  #features{
    height: 140vh;
    width: 108%;
  }

  .features {
    display: block;
  }
  .features-head {
    font-size: 11vw;
  }

  .features-head span {
    font-size: 10vw;
  }
  .features-display-left {
    height: 48%;
    width: 102%;
    padding: 0px;
    margin: 0rem;
  }

  .features-display-left p {
    padding: 3.5px;
    margin: 0rem;
  }

  .features-display-left-cards {
    padding: 15px 0px;
    display: block;
  }

  /*-------------------------- Contact -------------------------------*/

  #contact {
    height: 80vh;
    width: 108%;
  }
  .container {
    display: block;
  }

  .container {
    padding: 1rem;
    display: block;
    width: 100vw;
  }

  .containeer{ 
    margin: 0 auto;
    width: 90%;
    height: 50%;
  }
  .containeer h3{
    margin-top: 0.5rem;
    font-size: 10vw !important;
  }
  .form {
    margin-top: 3rem;
    height: 90%;
    display: block;
  }

  .formgroup1 {
    display: block;
    width: 100%;
  }

  .forminput {
    width: 100%;
  }
  .formtextarea {
    width: 100%;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30vh;
    right: 1rem;
    z-index: 99;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin: 0.5rem 0.5rem;
  }

  .icon-box {
    height: 30px !important;
  }

  .icon-box.open-google {
    margin-top: 2.9rem !important;
  }
  
  .icon-box.open-linkedin {
    margin-top: 5.8rem !important;
  }
  
  .icon-box.open-telegram { 
    margin-top: 8.65rem !important;
  }
  
 


  .Footer { 
    width: 100%;
   
  }

  .websiteBG-Header-logo img {
    width: 200px;
    margin-top: 0;
  }

  .footer-content {
    height: 100%;
    display: block;
    text-align: center !important;
  }

  .footer-section {
    width: 100%;
    padding: 10px;
  }

  .footer-bottom {
    margin-top: -2.2rem;
  }

  .Logo-container {
    display: flex;
    justify-content: space-between;
    padding: 19px 66px;
  }

  /*-------------------------- Earth -------------------------------*/

  .earth {
   margin-top:-10rem;
    width: 108%;
    background: linear-gradient(
      275deg,
      rgba(1, 102, 176, 1) 0%,
      rgba(16, 40, 83, 1) 100%
    );
    display: block;
    clip-path: none;
   
  }

  .earth-left-container {
    width: 100%;
    padding: 0;
  }

  .earth-heading {
    margin:10px;
    padding-top: 1rem;
    margin-left:-0.1rem;
    text-align: center;
    font-size: 9.5vw;
    font-weight: 700;
    height: 100%;
    width: 100%;
    color: #fff;
  }

  .earth-content {
    margin: 10px 20px;
    position: relative;
    left: 0%;
    top: 25%;
    width: 90%;
    height: fit-content;
    z-index: 1;
    display: block;
    color: #fff;
  }

  .earth-content-box {
    width: 100%;
    height: 90%;
    text-align: center;
   
  }

  .earth-content-box h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .earth-content-box h3 {
    font-weight: 400;
  }

  .earth-content-box p {
    margin-top: 0.5rem;
    letter-spacing: 2px;
  }
  .earth-right-container {
    position: relative;
    overflow: hidden;
    top: 0%;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 0% 0% 0 0;
  }

  .globe-canvas {
    z-index: 0;
  }

  .cp-globe {
    transform: scale(1);
  }

  /* -------------------------------------------------------------------------- */
  /*                 Authentication Pages (login & Signup)                      */
  /* -------------------------------------------------------------------------- */

  .Auth-background {
    width: 100vw;
  }

  .Auth-container {
    width: 90vw !important;
  }

  .Auth-firstcontainer {
    width: 40% !important;
  }


  .Auth-secondcontainer {
    padding-bottom: 10px;
    width: 60% !important;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*--------------------------Header-------------------------------*/
  body {
    width:  92vw;
    height: 100vh;
    cursor: default;
    position: static;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: Inter, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  
  .websiteNavs {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    padding: 16px;
    gap: 25px;
    right: 0;
    width: 70vw !important;
    background-color: #fff;
    z-index: 1;
    border-radius: 6px;
    opacity: 0; 
  }
  
  .websiteNavs.show {
    display: flex;
    animation: slideIn 0.3s ease forwards; 
  }
  
  @keyframes slideIn {
    from {
      right: -100%; 
      opacity: 1;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  
  
  .mobileMenuButton {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: -1rem;
    margin-right: 0.5rem;
    transition: left 0.3s ease;
  }
   
  .mobileMenuButton {
    display: flex;
  
  }
  
  .websitebtn {
    display: block; 
  }
  .websitebtn button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .websitebtn button i {
    font-size: 1.5rem; 
    color: #555353; 
  }
  
  .iconWithLink {
    margin-left: 1rem;
    margin-bottom: 0px;
  }
  
  .iconWithLink img {
    vertical-align: middle;
    margin-right: -1rem;
  }
  
  .websiteHeaderRight {
    display: none;
  }
  
  .websiteHeader {
    padding: 1rem;
  }
  
    /* / -------------------------------- / */
    #about {
      height: fit-content;
      width: 110%;
    }
    
    .about-content {
      margin: 0 2rem;
    }
  
    .about-head {
      font-size: 2rem;
    }
  
  
    .about-para {
      display: block;
      width: 100%;
    }
  
    .about-para h1 {
      font-size: 1.5rem;
      margin-top: 3rem;
      font-weight: 700;
      width: fit-content;
      text-align: center;
    }
  
    .about-line {
      height: 2px;
      width: 2rem;
      background: linear-gradient(
        180deg,
        rgba(8, 82, 146, 1) 0%,
        rgba(16, 40, 83, 1) 100%
      );
      margin: auto 1rem;
    }
  
    .about-para p {
      margin: 2rem 0;
      text-align: justify;
    }
    /* / --------------------------------- / */
  
    #products {
      height: fit-content;
      margin-top: 0rem;
      margin-bottom: -90px;
    }
  
    .headword{
      font-weight: 700;
    }
  
    #products::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
  
    .products-head {
      font-size: 7vw;
    }
  
    .products-head span {
      font-size: 2rem;
    }
  
    .products-content {
      margin-top: 0rem;
      height: 100%;
      display: block;
    }
  
    .products-left-section {
      width: 100%;
      display: block;
      text-align: center;
    }
  
    .poducts-middle-section {
      display: none;
    }
  
    .products-right-section {
      width: 100%;
      display: block;
      text-align: center;
    }
  
    .product-videos {
      width: 90%;
    }
  
    .products-left-section video {
      clip-path: none;
      border-radius: 15px;
    }
  
    .products-right-section video {
      clip-path: none;
      border-radius: 15px;
    }
  
    .product-description {
      width: 107%;
      padding: 20px;
      margin: 0rem;
    }
  
    .product-description h1{
      font-size: 7.5vw;
    }
  
    .product-description p{
      display: flex;
      align-items: center;
     justify-content: center;
    }
  
    .products-footer{
      margin-top: 0rem;
      overflow: hidden;
    }
  
    /*-------------------------- Features -------------------------------*/
    #features{
      height: 140vh;
      width: 108%;
    }
  
    .features {
      display: block;
    }
    .features-head {
      font-size: 11vw;
    }
  
    .features-head span {
      font-size: 10vw;
    }
    .features-display-left {
      height: 48%;
      width: 102%;
      padding: 0px;
      margin: 0rem;
    }
  
    .features-display-left p {
      padding: 3.5px;
      margin: 0rem;
    }
  
    .features-display-left-cards {
      padding: 15px 0px;
      display: block;
    }
  
    /*-------------------------- Contact -------------------------------*/
  
    #contact {
      height: 80vh;
      width: 108%;
    }
    .container {
      display: block;
    }
  
    .container {
      padding: 1rem;
      display: block;
      width: 100vw;
    }
  
    .containeer{ 
      margin: 0 auto;
      width: 90%;
      height: 50%;
    }
    .containeer h3{
      margin-top: 0.5rem;
      font-size: 10vw !important;
    }
    .form {
      margin-top: 3rem;
      height: 90%;
      display: block;
    }
  
    .formgroup1 {
      display: block;
      width: 100%;
    }
  
    .forminput {
      width: 100%;
    }
    .formtextarea {
      width: 100%;
    }
  
    .social-icons {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 30vh;
      right: 1rem;
      z-index: 99;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      border-radius: 30%;
      margin: 0.5rem 0.5rem;
    }
  
    .icon-box {
      height: 30px !important;
    }
  
    .icon-box.open-google {
      margin-top: 2.9rem !important;
    }
    
    .icon-box.open-linkedin {
      margin-top: 5.8rem !important;
    }
    
    .icon-box.open-telegram { 
      margin-top: 8.65rem !important;
    }
   
  
  
    .Footer { 
      width: 100%;
     
    }
  
    .websiteBG-Header-logo img {
      width: 200px;
      margin-top: 0;
    }
  
    .footer-content {
      height: 100%;
      display: block;
      text-align: center !important;
    }
  
    .footer-section {
      width: 100%;
      padding: 10px;
    }
  
    .footer-bottom {
      margin-top: -2.2rem;
    }
  
    .Logo-container {
      display: flex;
      justify-content: space-between;
      padding: 19px 66px;
    }
  
    /*--------------------------TAB Earth -------------------------------*/
  
    .earth {
     margin-top:-10rem;
      width: 108%;
      background: linear-gradient(
        275deg,
        rgba(1, 102, 176, 1) 0%,
        rgba(16, 40, 83, 1) 100%
      );
      display: block;
      clip-path: none;
     
    }
  
    .earth-left-container {
      width: 100%;
      padding: 0;
    }
  
    .earth-heading {
      margin:10px;
      padding-top: 1rem;
      margin-left:-0.1rem;
      text-align: center;
      font-size: 9.5vw;
      font-weight: 700;
      height: 100%;
      width: 100%;
      color: #fff;
    }
  
    .earth-content {
      margin: 10px 20px;
      position: relative;
      left: 0%;
      top: 25%;
      width: 90%;
      height: fit-content;
      z-index: 1;
      display: block;
      color: #fff;
    }
  
    .earth-content-box {
      width: 100%;
      height: 90%;
      text-align: center;
      margin: 1rem 0;
    }
  
    .earth-content-box h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  
    .earth-content-box h3 {
      font-weight: 400;
    }
  
    .earth-content-box p {
      margin-top: 0.5rem;
      letter-spacing: 2px;
    }
    .earth-right-container {
      position: relative;
      overflow: hidden;
      top: 0%;
      left: 0;
      width: 100%;
      height: 50%;
      border-radius: 0% 0% 0 0;
    }
  
    .globe-canvas {
      z-index: 0;
    }
  
    .cp-globe {
      transform: scale(1);
    }
  
    /* -------------------------------------------------------------------------- */
    /*                 Authentication Pages (login & Signup)                      */
    /* -------------------------------------------------------------------------- */
  
    .Auth-background {
      width: 100vw;
    }
  
    .Auth-container {
      width: 90vw !important;
    }
  
    .Auth-firstcontainer {
      width: 40% !important;
    }
  
  
    .Auth-secondcontainer {
      padding-bottom: 10px;
      width: 60% !important;
    }
}






/* / ------------------------------------------------------------------------- /
/                                Modal Window                                /
/ -------------------------------------------------------------------------- / */

.modal-container-body {
  scrollbar-width: 0;
}

.modal-container-body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

.modal-container-body::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.modal {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000050;
  z-index: 999;
  height: 100vh;
  width: 100vw;  
}

.modal-container {
  max-height: 80vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media (max-width: 600px) {
    width: 90%;
  }
}

.modal-container-header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.modal-container-body {
  padding: 20px;
  overflow-y: auto;
}

.modal-container-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 10px;
  position: relative;
}

.button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &.is-ghost {
    &:hover,
    &:focus {
      background-color: #dfdad7;
    }
  }

  &.is-primary {
    background-color: #24a0ed;
    color: #fff;
    &:hover,
    &:focus {
      background-color: #24a0ed;
    }
  }
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: #dfdad7;
  }
}

.icon-button img{
  width: 15px;
  height: 15px;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}
.Footer-Modal-Container{
  text-align: justify;
}
.Footer-Modal-Container h1{
  font-size: 1rem;
  font-weight: bold;
}

.Footer-Modal-Container a{
  color: #008bf8;
  cursor: pointer;
}

.company-declaration{
  padding-bottom: 1rem;
}

/* =-------------------------------------= */

.icon-box {
  position: absolute;
  top: .5rem;
  right: 2rem;
  width: clamp(300px, 40%, 500px);
  height: 40px;
  padding: 0px;
  border-radius: 10px;
  z-index: -1;
  display: flex;
  align-items: center;
  transition: .2s ease-in-out; 
  background-color: #ffffff;
  border: 1px solid black;
  animation: slideInLeft .2s forwards; 
}

@keyframes slideInLeft {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100% {
      opacity: 1;
      transform: translateX(1rem);
  }
}

.icon-box a {
  color: blue;
  width: 90%;
  display: flex;
  align-items: center;
}

.icon-box div{
  margin: 1rem .5rem;
  cursor: pointer;
  transform: scale(1.1);
}

.icon-box a:hover {
  text-decoration: underline;
}

.copy-btn{
  margin-left: 1rem;
  border: none;
  background: #fff;
}

.icon-box.open-google {
  margin-top: 3.5rem;
}

.icon-box.open-linkedin {
  margin-top: 7rem;
}

.icon-box.open-telegram { 
  margin-top: 10.5rem;
}


/* -------------------------------------------------------------------------- */
/*                 Authentication Pages (login & Signup)                      */
/* -------------------------------------------------------------------------- */

.Auth-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.Auth-container {
  width: 48vw;
  height: 70vh;
  display: flex;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Auth-firstcontainer {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 20px 0px 0px 20px;
}

.Auth-firstcontainer h1 {
  position: absolute;
  z-index: 1;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px;
}

.AuthBG-img {
  height: 93%;
  margin-top: 2.32rem;
  transform: scale(1.164);
  background-image: url("../media/image/authbgImage.png");
  background-size: cover;
  background-position: center;
}

.Auth-firstcontainer img {
  content: fill;
}

.Auth-secondcontainer {
  width: 50%;
  margin: 10px;
}

.Auth-form {
  text-align: center;
  height: 70%;
  font-size: 14px;
  margin-top: -1rem;
}

.Auth-form h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 4rem;
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
  padding-left: 1rem;
}

.Authtoplink {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.2%;
}

.Authtoplink span {
  font-weight: 700;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 90%;
  margin: 2rem 1rem;
  background-color: #b7b7b783;
}

.Authbottomlink {
  position: relative;
  top: 3%;
  left: 2%;
}

.Auth-funtionality {
  text-align: center;
  margin: 20px;
}

.Auth-funtionality > div {
  height: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.Auth-funtionality input {
  cursor: auto;
}

.Auth-funtionality button {
  margin: 0 auto;
}